@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  #root {
    .application {
      font-family: "Roboto", sans-serif;
      header {
        text-align: center;
        color: rgb(179, 179, 179);
        .main-head {
        }
      }
    }
  }
}
